<main class= "columns p-1 m-0">
  <!-- ユーザー情報 -->
  <div class="column is-one-third">
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content pl-4">
            <p class="content mb-0 is-size-4 has-text-weight-semibold" style="color: #386641"><%= @user.name %></p>           
            <p class="content mb-0 is-size-6 has-text-weight-semibold" style="color: #7d7d7d"><%= @user.email %></p>
          </div>
          <div class="content">
            <nav class="level">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading is-size-7">投稿</p>
                  <p class="title is-size-5" ><%= @user.tweets.size %></p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading is-size-7">フォロー</p>
                  <p class="title is-size-5" ><%= @user.followings.size %></p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading is-size-7">フォロワー</p>
                  <p class="title is-size-5" ><%= @user.followers.size %></p>
                </div>
              </div>
            </nav>
          </div>
        </div>  
      </article>
    </div>
    <div class="box">
      <aside class="menu">
        <div class="menu-label is-size-6 has-text-weight-semibold has-text-black">
          <p>＜メニュー＞</p>
        </div>
        <ul class="menu-list">
          <li><a href="<%= user_path(params[:id]) %>">投稿</a></li>
          <li><a href="<%= user_favorites_path(params[:id]) %>">いいね一覧</a></li>
          <li><a href="<%= follows_user_path(params[:id]) %>">フォローリスト</a></li>
          <li><a href="<%= followers_user_path(params[:id]) %>">フォロワーリスト</a></li>
        </ul>
      </aside>
    </div>
    <div class="lavel mt-5">
      <% if flash[:notice] %>
        <div class="notification is-success is-light has-text-centered"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class="notification is-danger is-light has-text-centered"><%= flash[:alert] %></div>
      <% end %>
    </div>
  </div>
  <!-- ユーザーの投稿 -->
  <div class="column">
    <div class="box">
      <div class="content m-0 pl-4">
        <h4>投稿</h4>
        <div class="has-background-grey-lighter" style="height: 2px;"></div>
      </div>
      <% @tweets.each do |tweet| %>
      <article class="media m-0 p-0">
        <div class="media-content">
          <nav class="level mb-0 mt-1">
            <div class="level-left">
              <div class="tags pl-1 mb-0">
                <span class="tag mb-0 is-white is-size-6 has-text-weight-semibold" style="color: #386641">
                  <p><%= tweet.user.name %></p>
                </span>
                <span class="tag mb-0 is-white is-size-6 " style="color: #7d7d7d">
                  <p><%= tweet.user.email %></p>
                </span>
              </div>
            </div>
            <% if session[:user_id] == tweet.user_id %>
              <div class="level-right">
                <%= button_to "編集・削除", edit_tweet_path(tweet.id), method: :get, class: "button is-small is-outlined has-text-weight-semibold", style: "color: #7d7d7d; border-color: #7d7d7d;" %>
              </div>
            <% end %>
          </nav>
          <div class="content pl-4 mb-1">
            <p class="content mb-0 is-size-6"><%= tweet.updated_at.strftime("%Y年%_m月%_d日 %_H:%M") %></p>           
            <p class="content mb-0 is-size-6 is-underlined"><%= tweet.title %></p>
            <p class="content mb-0 is-size-6" ><%= tweet.content %></p>
          </div>
          <div class="content is-mobile pl-4 mb-2">
            <% if tweet.favorited_by?(current_user.id) %>
              <%= button_to "いいね #{tweet.favorites.size}", tweet_favorites_path(tweet.id), method: :delete, class: "button is-small has-text-weight-semibold has-text-white", style: "background-color: #6a994e" %>
            <% else %>
              <%= button_to "いいね #{tweet.favorites.size}", tweet_favorites_path(tweet.id), method: :post, class: "button is-small is-outlined has-text-weight-semibold", style: "color: #6a994e; border-color: #6a994e;" %>
            <% end %>
          </div>
        </div>
      </article>
      <% end %>
    </div>
  </div>
</main>
