<h1>ユーザー詳細</h1>

<h3>ユーザー名</h3>
<p><%= @user.email %></p>
<h3>アカウント作成日</h3>
<p><%= @user.created_at %></p>
<h3>アカウント更新日</h3>
<p><%= @user.updated_at %></p>
<h3>フォロー</h3>
<p><%=link_to @user.active_relationships.count, follows_user_path %><span>人</span></p>
<h3>フォロワー</h3>
<p><%=link_to @user.passive_relationships.count, followers_user_path %><span>人</span></p>

<% if session[:user_id] == @user.id %>
  <%= button_to "ユーザー編集", edit_user_path(@user.id), method: :get %>
<% end %>

<% if session[:user_id] %>
 <p>現在ログインしているユーザーのid: <%= session[:user_id] %></p>
 <%= button_to "ログアウト", logout_path, method: :delete %>
<% end %>

<h4>
<%= button_to "ユーザーリスト", users_path, method: :get %>
</h4>

<% @tweets.each do |tweet| %>
  <hr>
  <p><span>自分のツイート: </span><%=link_to tweet.content, tweet_path(tweet.id) %></p>
<% end %>

<% @favorite_tweets.each do |tweet| %>
  <hr>
  <p><span>いいねしたツイート: </span><%=link_to tweet.content, tweet_path(tweet.id) %></p>
<% end %>
